# Slicing Data frame
- Slicing
- Loc and iloc
- Query

# Modify columns
- Apply
- Map

In [2]:
import pandas as pd

path = r"C:\Work\CCB-PYTHON-DS"
file = "\\databasenew_world_00.csv"

# Import file
df = pd.read_csv(path+file)
df.columns

Index(['Unnamed: 0', 'idx', 'cpf', 'sex', 'birthday', 'stateBorn', 'parents',
       'education', 'income', 'risk', 'save_profile', 'email', 'name', 'phone',
       'percentage_save'],
      dtype='object')

In [3]:
"""
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html
https://towardsdatascience.com/23-efficient-ways-of-subsetting-a-pandas-dataframe-6264b8000a77
"""


# Columns
one_col = df['cpf']
many_cols = df[['idx', 'cpf']]

print( many_cols.head(n=5) )

# Slice range
col_slice = many_cols[0:2] 

col_slice.head()

   idx   cpf
0    0  1452
1    1   655
2    2  2104
3    3  2163
4    4   751

   idx   cpf
0    0  1452
1    1   655

In [64]:
"""
Loc : df.loc[row,col]
Iloc : df.iloc[row,col]
"""
# loc : simple / subset / filter ; by index
col_df = df.loc[:, 'sex']
many_cols = df.loc[:, ['cpf','name']]

filter_col = df.loc[df['income'] < 5000 ]
multi_filter_col = df.loc[(df['income'] < 5000) & (df['sex']== 0)]
filter_lambda = df.loc[ lambda row: row['income']<1000 ]

new_df = df.set_index('stateBorn') #Using label to filter!
filter_label = new_df.loc[['MG','SP']]

# iloc
col_df2 = df.iloc[0] # iloc[:,0]
specific_cell2 = df.iloc[0,0] # Linha 0 e coluna 0
slice_df2 = df.iloc[0:3, 0:1] # Da linha zero até a linha 3 e Da coluna zero até a 1
all_col2 = df.iloc[0:3, :] # Da linha 0 até a 3 e Todas(:) colunas

print(filter_label)

           Unnamed: 0   idx   cpf  sex    birthday  parents      education  \
stateBorn
MG                  2     2  2104    0  17/10/1996        0        Nao fez
MG                  5     5  1854    1    8/8/1965        0      Doutorado
MG                 38    38  1831    1   18/2/1981        0    Fundamental
MG                 41    41   168    1   20/7/1979        1       Graducao
MG                 44    44   532    0   25/1/2009        1      Doutorado
...               ...   ...   ...  ...         ...      ...            ...
SP               3850  3850   335    0    7/9/1963        1    Fundamental
SP               3853  3853   825    0   9/11/1944        1  Pos Doutorado
SP               3858  3858  1605    1   16/6/2021        0      Doutorado
SP               3860  3860   483    0   18/7/1935        0            MBA
SP               3875  3875  1718    0   20/5/1971        0       Graducao

            income         risk  save_profile  email               name  \
stateBorn
MG         1161.68     Arrojado        0.4521      1                NaN
MG         7352.96     Moderado        0.1489      1     Antonieta Buda
MG         2458.40     Moderado        0.5365      1  Antonieta Froszen
MG         4000.00          NaN        0.1800      1   Gabriela Bardeen
MG         6400.00     Moderado        0.4809      1      Silvio Nazare
...            ...          ...           ...    ...                ...
SP         1600.00          NaN        0.3530      1                NaN
SP         7200.00          NaN        0.5949      1       Andre Asimov
SP         8248.32          NaN        0.2888      1      Irene Bardeen
SP         7915.20          NaN        0.6490      1     Silvio Targino
SP         6033.60  Conservador        0.5084      1                NaN

           phone  percentage_save
stateBorn
MG             0         0.000389
MG             0         0.000020
MG             0         0.000218
MG             0         0.000045
MG             0         0.000075
...          ...              ...
SP             0         0.000221
SP             0         0.000083
SP             0         0.000035
SP             0         0.000082
SP             0         0.000084

[1302 rows x 14 columns]

In [75]:
# Query
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html

query_df = df.query('(sex == 0) & (2000 >= income <= 3500)')
query_df_columns = df.query('cpf <= idx')

print(query_df_columns)

      Unnamed: 0   idx   cpf  sex    birthday stateBorn  parents  \
48            48    48     7    1    2/6/2007        AC        1
81            81    81    50    0    2/4/1952        CE        1
166          166   166   123    0   20/5/1948        MG        1
211          211   211   172    0   1/11/1932        MG        1
219          219   219   177    1   4/11/2021        AC        1
...          ...   ...   ...  ...         ...       ...      ...
3871        3871  3871  2026    1   17/2/2009        AC        0
3872        3872  3872   402    0    7/9/1946        MG        1
3873        3873  3873   502    1   14/6/1990        CE        0
3874        3874  3874   683    0  16/12/1945        RJ        1
3875        3875  3875  1718    0   20/5/1971        SP        0

          education   income         risk  save_profile  email  \
48         Graducao  4000.00     Moderado        0.7809      1
81    Pos Doutorado  7200.00  Conservador        0.0151      1
166     Fundamental  1600.00          NaN        0.2848      1
211        Mestrado  5600.00     Arrojado        0.1663      1
219         Nao fez   800.00  Conservador        0.5606      1
...             ...      ...          ...           ...    ...
3871       Graducao  5803.60  Conservador        0.4509      1
3872       Graducao  4000.00     Moderado        0.4567      1
3873       Mestrado  9281.44     Arrojado        0.6574      1
3874    Fundamental  1600.00          NaN        0.0585      1
3875       Graducao  6033.60  Conservador        0.5084      1

                 name  phone  percentage_save
48        Ana Froszen      0         0.000195
81      Rafael Yamato      0         0.000002
166       Vlad Santos      0         0.000178
211      John Froszen      0         0.000030
219       Maria Assis      0         0.000701
...               ...    ...              ...
3871  Gabriela Bryant      0         0.000078
3872        Kobe Buda      0         0.000114
3873              NaN      0         0.000071
3874     Andre Santos      0         0.000037
3875              NaN      0         0.000084

[2630 rows x 15 columns]

In [76]:
# Apply : inject function along an axis of the {dataframe or series}
"""
axis 0 = rows is horizontal 
axis 1 = columns is vertical axis
"""

div_income = lambda x : x/100

new_df = df['income'].apply(lambda x : x/100)
print(new_df)

0       118.4544
1        72.0000
2        11.6168
3        48.0000
4        86.3808
          ...
3871     58.0360
3872     40.0000
3873     92.8144
3874     16.0000
3875     60.3360
Name: income, Length: 3876, dtype: float64

In [77]:
# Map : inject function for each element {series}

new_df = df['income'].map(lambda x : x*100 if (x != None) else x)

print(new_df)

0       1184544.0
1        720000.0
2        116168.0
3        480000.0
4        863808.0
          ...
3871     580360.0
3872     400000.0
3873     928144.0
3874     160000.0
3875     603360.0
Name: income, Length: 3876, dtype: float64